#grid-container {
    display: flex;
    flex-wrap: wrap; 
    padding: 20px; 
    box-sizing: border-box; 
    justify-content: stretch;
    flex: 1 100px; 
}

html, body, #content-container {
    height: 100%; 
}
body { 
    margin: 0; 
}

.grid-square {
    align-content: stretch; 
}

.active-square {
    background-color: lightgreen; 
}

#content-container {
    display: flex; 
    flex-direction: column;
    text-align: center; 
}

#controls > * {
    margin: 0 5px; 
}

#controls {
    display: flex; 
    justify-content: center;
    align-items: center;
}

#controls > .input-area {
    display: flex;
    min-width: 0; 
}

.input-area > * {
    border-radius: 0; 
    border: solid;
    border-color: black; 
    border-width: 1px;
}

.input-area > input {
    min-width: 0px; 
    flex: 1 1 auto; 
}

.input-area > button {
    background-color: lightblue;
    border-left: 0; 
}